.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/170905-working-out-group-ac-512p-21445461.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 701px;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  background-image: none;
  margin: 267px 26px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 110px auto 60px;
  padding: 25px 65px 27px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/MicrosoftTeams-image8.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.1875rem;
  margin: 218px 73px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 73px auto 60px;
  padding: 27px 59px 28px 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 184px;
  }
}.u-section-3 {
  min-height: 284px;
  background-image: url("images/MicrosoftTeams-image10.png");
  background-position: 50% 50%;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.1875rem;
  margin: 30px 121px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 268px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 21px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}